<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
</head>
<body>
    <h1>Forum</h1>

    {% if 'loggedin' in session %}
        <p>Zalogowany jako: {{ session['username'] }}</p>
        <a href="{{ url_for('logout') }}">Wyloguj</a>
        <h2>Dodaj nowy post:</h2>
        <a href="{{ url_for('add_post') }}">Dodaj nowy post</a>
    {% else %}
        <a href="{{ url_for('login') }}">Zaloguj się</a>
        <a href="{{ url_for('register') }}">Zarejestruj się</a>
    {% endif %}

    <h2>Lista postów:</h2>
    {% if posts %}
        <ul>
            {% for post in posts %}
                <li>
                    <h3>{{ post['title'] }}</h3>
                    <p>{{ post['content'] }}</p>
                    <p>Autor: {{ post['author'] }}</p>
                    <p>Data utworzenia: {{ post['created_at'] }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Brak postów.</p>
    {% endif %}
</body>
</html>





