<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='privacy.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polityka prywatności - CatsApp</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            color: #fffcfc;
            background-color: #fff;
        }

        h1 {
            text-align: center;
        }

        p {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <h1>Polityka prywatności - CatsApp</h1>
    
    <p>Dziękujemy za korzystanie z CatsApp! Ochrona Twojej prywatności i zapewnienie bezpiecznego środowiska podczas korzystania z naszej aplikacji to nasz priorytet. Prosimy o zapoznanie się z poniższymi informacjami, aby zrozumieć, jakie dane zbieramy, w jaki sposób je wykorzystujemy oraz jak je chronimy.</p>

    <h2>1. Rodzaje zbieranych danych</h2>
    <p>1.1. Dane osobowe: Podczas rejestracji
