body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://media-cldnry.s-nbcnews.com/image/upload/t_social_share_1024x768_scale,f_auto,q_auto:best/newscms/2014_31/590536/catfactscover.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 800px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container h1 {
    color: #fff;
    margin-bottom: 20px; /* Dodajemy odstęp między nagłówkiem a faktem */
}

.container p {
    color: #fff;
    font-size: 18px;
    line-height: 1.6;
}

.container button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.container button:hover {
    background-color: #45a049;
}




